<div class="container">

<div class="grid wide">
    <div class="row">
        <div class="col l-3  m-6 c-12">
            <div class="course-item">
                <h1>course</h1>
            </div>
        </div>
        <div class="col l-3  m-6 c-12">

            <div class="course-item">
                <h1>course</h1>
            </div>
        </div>
        <div class="col l-3  m-6 c-12">

            <div class="course-item">
                <h1>course</h1>
            </div>
        </div>
        <div class="col l-3  m-6 c-12">

            <div class="course-item">
                <h1>course</h1>
            </div>
        </div>

         <div class="col l-3  m-6 c-12">

            <div class="course-item">
                <h1>course</h1>
            </div>
        </div>
         <div class="col l-3  m-6 c-12">

            <div class="course-item">
                <h1>course</h1>
            </div>
        </div>

    </div>

</div>
</div>
<style>


    .course-item {
        background-color: orange;
        height: 200px;
        margin-top: 10px;

    }

    .course-item h1 {
        color: #fff;
        line-height: 200px;
        text-align: center;
    }
</style>