<form class="form-update" method="POST" action="/data/{{Teacher.MAGV}}?_method=PUT">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Tên</label>
    <input type="text" class="form-control" id="" name="HOTEN" value="{{Teacher.HOTEN}}">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Luong</label>
    <input type="text" class="form-control" id="" name="LUONG" value="{{Teacher.LUONG}}">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Địa chỉ</label>
    <input type="text" class="form-control" id="" name="DIACHI" value="{{Teacher.DIACHI}}">
  </div>
  <button type="submit" class="btn btn-primary">Sửa</button>
</form>